/* Codigo hecho por Vbal, Kevin y Medellín, esta pinche marca es para evitar plagio */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Codigo hecho por Vbal, Kevin y Medellín, esta pinche marca es para evitar plagio */
header {
  text-align: center;
  margin-bottom: 20px;
}
/* Codigo hecho por Vbal, Kevin y Medellín, esta pinche marca es para evitar plagio */

nav {
  background-color: #020617;
  padding: 15px;
  display: flex;
  justify-content: center;
}
/* Codigo hecho por Vbal, Kevin y Medellín, esta pinche marca es para evitar plagio */

.bienvenida {
  text-align: center;
}
/* Codigo hecho por Vbal, Kevin y Medellín, esta pinche marca es para evitar plagio */

img {
  margin-top: 15px;
  border-radius: 10px;
}

/* Codigo hecho por Vbal, Kevin y Medellín, esta pinche marca es para evitar plagio */
table {
  width: 100%;
  border-collapse: collapse;
}
/* Codigo hecho por Vbal, Kevin y Medellín, esta pinche marca es para evitar plagio */
th, td {
  border: 1px solid #22c55e;
  padding: 10px;
  text-align: center;
}
/* Codigo hecho por Vbal, Kevin y Medellín, esta pinche marca es para evitar plagio */
